{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}">
{% endblock %}
{% block body %}
    <div id="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>En construction</h1>
            <img src="{{ asset('img/logoabdouniabdelkarimblanc.png') }}" id="logo" alt="Logo Abdouni Karim">
        </div>
        <footer>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p><p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>
            <p style="color: red;">Blabla</p>


        </footer>
    </div>
{% endblock %}
