body{
    font-family: 'Raleway', sans-serif;
    background-color: #f2f2f2;
    width: 794px;
    margin: auto;
    height: 1122px;
}
h1{
    font-size: 28px;
    text-align: center;
}
h2 {
    font-size: 20px;
    text-align: center;
}
h3{
    text-align: center;
    display: inline;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
h4{
    font-size: 14px;
}
h5{
    text-align: center;
}
p{
    font-size: 12px;
}

/* HEADER */
header{
    background-color: black;
    color: #f2f2f2;
}
#header_left, #header_center, #header_right{
    display: inline-block;
    vertical-align: middle;
}
header img, #experience img{
    width: 128px;
}

#header_left img{
    text-align: left;
}
#header_right img{
    text-align: right;
}

/* CONTACT */
#contact_infos{
    width: 550px;
    margin: auto;
}
#iconleft, #iconright{
    display: inline-block;
    vertical-align: top;
    width: 273px;
}

/* EXPERIENCE */
#experience, #formation, #competence, #outils{
    width: 49%;
    margin: auto;
    display: inline-block;
    vertical-align: top;
}
#experience{
    /*border: solid 1px black;*/
}
#formation, #competence{
    /*background-color: rgb(102,102,102);
    color: #e6e6e6;*/
}
#experiencetitle, .logo{
    text-align: center;
}
.content{
    margin: 0 10px;
}
.content h4{
    text-align: center;
}
.title{
    font-weight: bold;
}
.date{
    font-style: italic;
    text-decoration: underline;
}
/* COMPETENCE */
.competencecontent{
    padding-top: 10px;
    width: 90%;
    margin: auto;
    text-align: center;
}
.competencecontent .skill{
    display: inline-block;
}
.competencecontent img{
    width: 65px;
    background-color: #f2f2f2;
}

/* FORMATION */
.certificate{
    margin-left: 25px;
}

/* OUTILS */
.tools_content, .tools_icons{
    display: inline-block;
    vertical-align: middle;
}
.tools_content{
    width: 240px;
}
.tools_align{
    display: inline-block;
    vertical-align: top;
    width: 70px;
    text-align: center;
}
/* FOOTER */
footer{
    width: 794px;
    margin: auto;
}
.e{
    display: inline-block;
    vertical-align: top;
    margin: auto;
    width: 32%;
    text-align: center;
}
.e .icon{
    width: 32%;
    display: inline-block;
    vertical-align: top;
}
#outils img{
    width: 50px;
    margin: 3px 10px;
}
.fa-2x{
    position: relative;
    top: 3px;
}