/* BODY */
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

/* OTHER */
h1{
    color: whitesmoke;
    text-transform: uppercase;
}
#logo{
    width: 50%;
}

/* FOOTER */
footer a{
    color: white;
}